@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #000000;
}

ul {
  text-decoration: none;
}

.header {
  display: flex;

  justify-content: space-between;
  margin-left: 50px;
  margin-right: 100px;
}

.header-menu {
  color: #ffffff;
  display: flex;
  gap: 80px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

li {
  text-decoration: none;
  font-size: 20px;
}


.margin-top {
  margin-top: 40px;
}

.img {
  margin-top: 20px;
}

h1 {
  font-size: 105px;
  text-align: center;
}

.d {
  color: #ffffff;
  font-family: league gothic;
  letter-spacing: 8px;
}

.n {
  margin-bottom: -40px;
  color: #ff5757;
  font-family: league gothic;
  letter-spacing: 8px;

}

.fone {
  z-index: 3;
  width: 40%;
  margin: auto;
  display: block;
}

.buy{
  filter: invert(75%);
  display: flex;
  gap: 20px;
  height: 20px;
}